* {
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 2px;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: #d8d8d8;
  display: flex;
  justify-content: center;
  align-items: center;
}

section#login {
  width: 60%;
  height: 50vh;
  background-color: inherit;
  border: 8px solid #979797;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

div#welcome {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
}

div#welcome h1 {
  font-weight: 200;
  font-size: 0.8rem;
}

img.logo {
  width: 2.5rem;
}

form#login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

form#login-form button {
  padding: 0.5rem 0;
  background-color: inherit;
  border: 2px solid #aaa;
  font-size: 1.1rem;
}

form#login-form button:hover {
  cursor: pointer;
}

div.input-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  row-gap: 1rem;
}

form#login-form input {
  padding: 0.5rem;
  /* height: 1.8rem; */
  background-color: inherit;
  border: 2px solid #aaa;
  transition: all 300ms;
  font-size: 1.1rem;
}

@media only screen and (min-width: 576px) {
  section#login {
    width: 50%;
    height: 60vh;
  }

  div#welcome h1 {
    font-size: 1rem;
  }

  img.logo {
    width: 4rem;
  }
}

@media only screen and (min-width: 768px) {
  section#login {
    width: 50%;
    height: 70vh;
  }

  div#welcome h1 {
    font-size: 1.2rem;
  }

  img.logo {
    width: 5.5rem;
  }
}

@media only screen and (min-width: 992px) {
  section#login {
    width: 30%;
    height: 80vh;
  }

  div#welcome h1 {
    font-size: 1.4rem;
  }

  img.logo {
    width: 7rem;
  }
}
