.heading {
  font-size: 1.3rem;
  font-weight: 300;
}

.container {
  padding: 2rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.expand-icon {
  width: 1.5rem;
}
#expand-button {
  width: fit-content;
  transition: all 300ms;
}

#expand-button.opened {
  margin-left: 50%;
}

.main-container {
  display: flex;
}

.nav-options {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.side-nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 17vw;
  padding: 2rem;
  /* display: none; */
  z-index: 1000;
  transform: translateX(-100vw);
  flex-direction: column;
  row-gap: 4rem;
  border: 1px solid #aaa;
  background-color: #d8d8d8;
  transition: all 300ms;
}

.side-nav.active {
  transform: translateX(0);
  width: inherit;
}

.nav-options a {
  text-decoration: none;
  color: inherit;
}

.nav-options button {
  outline: none;
  background-color: transparent;
  border: none;
  text-align: left;
  width: 100%;
  font-size: 1rem;
  padding: 0;
}

.nav-options button:hover {
  cursor: pointer;
}

.nav-options {
  row-gap: 2rem;
  margin-top: 4rem;
}

.summary {
  width: 100%;
}

.section-container {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.row {
  flex-direction: row !important;
}

.flex {
  display: flex !important;
}

.justify-between {
  justify-content: space-between !important;
}

.gap {
  column-gap: 1rem;
}

.orders-container {
  width: 100%;
  min-height: 10rem;
  height: fit-content;
  padding: 0.5rem 1rem;
  border: 1.5px solid #aaa;
}

#search {
  background-color: inherit;
  border: 1.5px solid #aaa;
  transition: all 300ms;
  padding: 0.5rem;
}

.orders-table {
  width: 100%;
  text-align: left;
}

.summary-container {
  width: 100%;
  display: flex;
  column-gap: 1.5rem;
}

.summary-item {
  width: 30%;
  padding: 1rem;
  border: 1.5px solid #aaa;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.bestsellers {
  margin-top: 3rem;
}

.summary-heading {
  font-size: 0.8rem;
}

.summary {
  padding: 0 0.5rem;
  font-size: 0.9rem;
}

.chart-container,
.label-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  position: relative;
}

div.bar-container {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

span.label {
  transform: rotate(-40deg) translateY(-4rem);
  position: absolute;
  bottom: -5.3rem;
  font-size: 0.7rem;
  display: block;
  width: 6rem;
  /* transform: translateY(-50%); */
}

.chart-container {
  border: 1.5px solid #aaa;
  height: 15rem;
  padding-top: 1rem;
}

.bar {
  width: 1rem;
  border: 1.5px solid #aaa;
  border-bottom: none;
}

.bestsellers-table,
.orders-table {
  border-spacing: 1.5rem;
}

.bestsellers-table tbody tr {
  vertical-align: top;
  font-size: 0.8rem;
  font-weight: 300;
}

.page-section {
}

#prev-button {
  transform: rotate(180deg);
}

.bestsellers-table tbody {
  padding-left: 1rem;
}

.bestsellers-table th,
.orders-table th {
  text-align: left;
  width: 25%;
  font-weight: 400;
  font-size: 1rem;
}

.heading-container {
  display: flex;
  /* justify-content: space-between; */
  column-gap: 5rem;
  /* padding-right: 60%; */
  align-items: center;
}

.heading-revenue {
  width: 20rem;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #aaa;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #aaa;
}

input:focus + .slider {
  box-shadow: 0 0 1px #aaa;
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media only screen and (min-width: 992px) {
  .chart-container,
  .label-container {
    width: 65%;
  }

  .container {
    padding-left: 20%;
    padding-top: 2rem;
  }

  .side-nav {
    transform: translateX(0);
  }

  #expand-button {
    display: none;
  }
}
